<div class="main" ng-controller="ContactCreateCtrl">
	<div class="container">
		<form name="createContactForm">
			<div>
				<h1>Create Contact</h1>
			</div>
			<br />
			<div id="validation" class="hidden">
			</div>

			<div class="row">
				<div class="col-xs-12 col-md-4">
					<input ng-model="first_name" class="form-control" name="first_name" placeholder="First Name" type="text" required />
					<span style="color: red" ng-show="createContactForm.first_name.$dirty && createContactForm.first_name.$invalid"><span ng-show="createContactForm.first_name.$error.required">First Name is required.</span></span>
				</div>
				<div class="col-xs-12 col-md-4">
					<input ng-model="last_name" class="form-control" name="last_name" placeholder="Last Name" type="text" />
				</div>
				<div class="col-xs-12 col-md-4">
					<input ng-model="company_name" class="form-control" name="company_name" placeholder="Company Name" type="text" />
				</div>
			</div>
			<br />
			<div class="row">
				<div class="col-xs-12 col-md-5">
					<input ng-model="address" class="form-control" name="address" placeholder="Address" type="text" />
				</div>
				<div class="col-xs-12 col-md-3">
					<input ng-model="city" class="form-control" name="city" placeholder="City" type="text" />
				</div>
				<div class="col-xs-12 col-md-2">
					<input ng-model="state" class="form-control" name="state" placeholder="State" type="text" />
				</div>
				<div class="col-xs-12 col-md-2">
					<input ng-model="zip" class="form-control" name="zip" placeholder="Zip Code" type="text" />
				</div>
			</div>
			<br />
			<div class="row">
				<div class="col-xs-12 col-md-2">
					<input ng-model="phone" class="form-control" name="phone" placeholder="Phone" type="text" />
				</div>
				<div class="col-xs-12 col-md-2">
					<input ng-model="work_phone" class="form-control" name="work_phone" placeholder="Work Phone" type="text" />
				</div>
				<div class="col-xs-12 col-md-4">
					<input ng-model="email" class="form-control" name="email" placeholder="Email" type="text" />
				</div>
				<div class="col-xs-12 col-md-4">
					<input ng-model="url" class="form-control" name="url" placeholder="URL" type="text" />
				</div>
			</div>
			<br />
			<div class="row">
				<div class="col-sm-12 col-md-12">
					<a ng-click="addContact($event)" class="btn send btn-primary" ng-disabled="createContactForm.first_name.$dirty && createContactForm.first_name.$invalid  || createContactForm.first_name.$pristine">Create Contact</a>
					<input type="reset" class="btn btn-primary" id="reset" value="Reset" />
				</div>
			</div>
		</form>
	</div>
</div>
